node_modules

.env
.env.local
.env.development
.env.test
.env.production

*.log
logs
*.log.*
npm-debug.log
yarn-debug.log
yarn-error.log

*.tmp
*.temp
tmp
cache
npm-cache

dist
build

*.md
*.markdown
docs

*.swp
*~
*.sublime-project
*.sublime-workspace
.vscode
.idea
.DS_Store
Thumbs.db

coverage
.jest
.nyc_output

.circleci
.github
.gitlab-ci.yml