<form action="/api/v3/authentication/resetWithoutLoggedUser" method="post">
    <label class="form-label">Email</label>
    <input class="form-control" type="text" name="email" value="{{email}}" required disabled>
    <input class="form-control" type="hidden" name="emailHidden" value="{{email}}" hidden>
    <label class="form-label">Code</label>
    <input class="form-control" type="text" name="code" required>
    <label class="form-label">Password</label>
    <input class="form-control" type="password" name="password" required>
    <br>
    <button class="btn btn-primary" style="width: 100%;" type="submit">Reset password</button>
</form>