<form action="/api/v3/authentication/resetRequest" method="post">
    <label class="form-label">Email</label>
    <input class="form-control" type="text" name="email" required>
    <br>
    <button class="btn btn-primary" style="width: 100%;" type="submit">Reset password</button>
</form>